<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tous Clients</title>
</head>
<body>
<table border="1">
    <th>ID</th>
    <th>CODECOURS</th>
    <th>INTITULECOURS</th>
    <tr th:each="unCours : ${mesCours}">
        <td th:text="${mesCours.idcours}"/>
        <td th:text="${mesCours.code}"/>
        <td th:text="${mesCours.intitule}"/>

    </tr>
</table>
<a href ="/">retour</a>
</body>
</html>